{% load widget_tweaks webfacile_tags %}
<fieldset class="webfacile-fieldset{% if field.errors %} webfacile-fieldset--error{% endif %}"
          id="radio-{{ field.auto_id }}"
          aria-labelledby="{{ field.auto_id }}-legend{% if field.errors %} {{ field.auto_id }}-messages{% endif %}">
  <legend class="webfacile-fieldset__legend facile-text--regular"
          id="{{ field.auto_id }}-legend">
    {{ field.label_tag }}
    {% if field.field.required %}
      *
    {% endif %}
    {% if field.help_text %}
      <span class="webfacile-hint-text">{{ field.help_text }}</span>
    {% endif %}
  </legend>
  <div class="webfacile-fieldset__content">
    <div class="webfacile-radio-group">
      {% if field.field.disabled %}
        {{ field|webfacile_input_class_attr|attr:"type:radio"|attr:"disabled" }}
      {% else %}
        {{ field|webfacile_input_class_attr|attr:"type:radio" }}
      {% endif %}
    </div>
  </div>
  {% if field.errors %}
    <div class="webfacile-messages-group" id="{{ field.auto_id }}-messages">
      {{ field.errors }}
    </div>
  {% endif %}
</fieldset>
