{% load static i18n %}
<dialog id="facile-theme-modal"
        class="facile-modal"
        aria-labelledby="facile-theme-modal-title">
  <div class="facile-container facile-container--fluid facile-container-md">
    <div class="facile-grid-row facile-grid-row--center">
      <div class="facile-col-12 facile-col-md-6 facile-col-lg-4">
        <div class="facile-modal__body">
          <div class="facile-modal__header">
            <button class="facile-btn--close facile-btn"
                    aria-describedby="facile-theme-modal-title"
                    aria-controls="facile-theme-modal">
              {% translate "Close" %}
            </button>
          </div>
          <div class="facile-modal__content">
            <h1 id="facile-theme-modal-title" class="facile-modal__title">
              {% translate "Display settings" %}
            </h1>
            <div id="facile-display" class="facile-form-group facile-display">
              <div class="facile-form-group">
                <fieldset class="facile-fieldset">
                  <legend class="facile-fieldset__legend facile-text--regular" id="-legend">
                    {% translate "Choose a theme to customize the appearance of the site." %}
                  </legend>
                  <div class="facile-fieldset__content">
                    <div class="facile-radio-group facile-radio-rich">
                      <input value="light"
                             type="radio"
                             id="facile-radios-theme-light"
                             name="facile-radios-theme" />
                      <label class="facile-label" for="facile-radios-theme-light">
                        {% translate "Light theme" %}
                      </label>
                      <div class="facile-radio-rich__img" data-facile-inject-svg>
                        <img src="{% static 'dsfacile/dist/artwork/light.svg' %}" alt="" />
                        {# L’alternative de l’image (attribut alt) doit rester vide car l’image est illustrative et ne doit pas être restituée aux technologies d’assistance #}
                      </div>
                    </div>
                    <div class="facile-radio-group facile-radio-rich">
                      <input value="dark"
                             type="radio"
                             id="facile-radios-theme-dark"
                             name="facile-radios-theme" />
                      <label class="facile-label" for="facile-radios-theme-dark">
                        {% translate "Dark theme" %}
                      </label>
                      <div class="facile-radio-rich__img" data-facile-inject-svg>
                        <img src="{% static 'dsfacile/dist/artwork/dark.svg' %}" alt="" />
                        {# L’alternative de l’image (attribut alt) doit rester vide car l’image est illustrative et ne doit pas être restituée aux technologies d’assistance #}
                      </div>
                    </div>
                    <div class="facile-radio-group facile-radio-rich">
                      <input value="system"
                             type="radio"
                             id="facile-radios-theme-system"
                             name="facile-radios-theme" />
                      <label class="facile-label" for="facile-radios-theme-system">
                        {% translate "System" %}
                        <span class="facile-hint-text">{% translate "Uses system settings." %}</span>
                      </label>
                      <div class="facile-radio-rich__img" data-facile-inject-svg>
                        <img src="{% static 'dsfacile/dist/artwork/system.svg' %}" alt="" />
                        {# L’alternative de l’image (attribut alt) doit rester vide car l’image est illustrative et ne doit pas être restituée aux technologies d’assistance #}
                      </div>
                    </div>
                  </div>
                </fieldset>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</dialog>
