{% load i18n %}
{% if self.is_clickable|default:False %}
  <button class="facile-btn--tooltip facile-btn"
          id="button-{{ self.id }}"
          aria-describedby="{{ self.id }}">
    {% translate "Contextual information" %}
  </button>
{% else %}
  <a class="facile-link"
     aria-describedby="{{ self.id }}"
     id="link-{{ self.id }}"
     href="#">
    {{ self.label }}
  </a>
{% endif %}
<span class="facile-tooltip facile-placement"
      id="{{ self.id }}"
      role="tooltip"
      aria-hidden="true">{{ self.content }}</span>
