{% load i18n %}
<div class="facile-consent-banner">
  <h2 class="facile-h6">
    {{ self.title }}
  </h2>
  <div class="facile-consent-banner__content">
    <p class="facile-text--sm">
      {{ self.content|safe }}
    </p>
  </div>
  <ul class="facile-consent-banner__buttons facile-btns-group facile-btns-group--right facile-btns-group--inline-reverse facile-btns-group--inline-sm">
    <li>
      {% translate "Allow all cookies" as allow_all_cookies %}
      <button class="facile-btn"
              id="consent-accept-all"
              title="{{ allow_all_cookies }}">
        {% translate "Accept all" %}
      </button>
    </li>
    <li>
      {% translate "Reject all cookies" as reject_all_cookies %}
      <button class="facile-btn"
              id="consent-reject-all"
              title="{{ reject_all_cookies }}">
        {% translate "Reject all" %}
      </button>
    </li>
    <li>
      {% translate "Customize cookies" as customize_cookies %}
      <button class="facile-btn facile-btn--secondary"
              id="consent-customize"
              data-facile-opened="false"
              aria-controls="facile-consent-modal"
              title="{{ customize_cookies }}">
        {% translate "Customize" %}
      </button>
    </li>
  </ul>
</div>
