{% load i18n %}
{% translate "Hide message" as hide_message %}
<div class="webfacile-notice webfacile-notice--info">
  <div class="webfacile-container">
    <div class="webfacile-notice__body">
      <p class="webfacile-notice__title">
        {{ self.title|safe }}
      </p>
      {% if self.is_collapsible %}
        <button class="webfacile-btn--close webfacile-btn"
                title="{{ hide_message }}"
                onclick="const notice = this.parentNode.parentNode.parentNode; notice.parentNode.removeChild(notice)">
          {{ hide_message }}
        </button>
      {% endif %}
    </div>
  </div>
</div>
