{% if widget.type and widget.type == 'radio' %}
  <div class="facile-radio-group">
  {% endif %}
  {% include "django/forms/widgets/input.html" %}
  {% if widget.wrap_label %}
    <label class="facile-label"
           {% if widget.attrs.id %}for="{{ widget.attrs.id }}"{% endif %}>
      {% if widget.label.label %}
        {{ widget.label.label }}
        <span class="facile-hint-text">{{ widget.label.help_text }}</span>
      {% else %}
        {{ widget.label }}
        <span class="facile-hint-text">{{ widget.label.help_text }}</span>
      {% endif %}
    </label>
  {% endif %}
  {% if widget.type and widget.type == 'radio' %}
  </div>
{% endif %}
