{% extends "example_webfastoche/base.html" %}
{% load static webfastoche_tags %}
{% block content %}
  <h1>
    Icônes
  </h1>
  <ul>
    <li>
      <a class="webfastoche-link webfastoche-icon-external-link-line webfastoche-link--icon-right webfastoche-link--lg"
         href="https://www.systeme-de-design.gouv.fr/elements-d-interface/fondamentaux-techniques/icone/"
         target="_blank"
         rel="noopener noreferrer">
        Voir la page de documentation du composant sur le Système de Design de l’État <span class="webfastoche-sr-only">Ouvre une nouvelle fenêtre</span>
      </a>
    </li>
    <li>
      <a class="webfastoche-link webfastoche-icon-external-link-line webfastoche-link--icon-right webfastoche-link--lg"
         href="https://main--ds-gouv.netlify.app/example/utility/icons/"
         target="_blank"
         rel="noopener noreferrer">
        Voir la page sur le site d’exemples du Système de Design de l’État <span class="webfastoche-sr-only">Ouvre une nouvelle fenêtre</span>
      </a>
    </li>
  </ul>

  <div class="webfastoche-mt-4w">
    <h2 id="search-icon-by-name">
      Chercher une icône par son nom
    </h2>

    <div class="webfastoche-search-bar" id="icon-filter" role="search">
      <label class="webfastoche-label" for="uip-select-input">
        Chercher une icône
      </label>
      <input class="webfastoche-input"
             type="text"
             name="uip-select-input"
             id="uip-select-input"
             value=""
             placeholder="Chercher une icône" />
    </div>

    <div id="output-icon">
    </div>
  </div>

  <div class="webfastoche-mt-4w">
    <h2 id="full-icon-list">
      Liste complète
    </h2>
    {% webfastoche_summary summary %}

    <p>
      Cliquer sur une icône ci-dessous pour copier le nom de sa classe.
    </p>
    {% for folder, items in icons.items %}
      <h3 id="{{ folder|slugify }}" tabindex="-1">
        {{ folder|title }}
      </h3>
      <div class="webfastoche-mb-4w">
        {% for item in items %}
          <span class="webfastoche-icon-{{ item }} click-to-copy"
                title="webfastoche-icon-{{ item }}"
                aria-hidden="true"></span>
        {% endfor %}
      </div>
    {% endfor %}
  </div>
{% endblock content %}
{% block extra_js %}
  <script src="{% static 'django-webfastoche/icon-picker/assets/js/universal-icon-picker.js' %}"></script>

  <script>
    const options = {
      iconLibraries: ['webfastoche-buildings.json', 'webfastoche-business.json', 'webfastoche-communication.json', 'webfastoche-design.json', 'webfastoche-development.json', 'webfastoche-device.json', 'webfastoche-document.json', 'webfastoche-editor.json', 'webfastoche-finance.json', 'webfastoche-health.json', 'webfastoche-logo.json', 'webfastoche-map.json', 'webfastoche-media.json', 'webfastoche-others.json', 'webfastoche-system.json', 'webfastoche-user.json', 'webfastoche-weather.json'],
      allowEmpty: true,
      onSelect: function (jsonIconData) {
        document.getElementById('output-icon').innerHTML = "Copié dans le presse-papier : '" +jsonIconData.iconClass + "'";
        document.getElementById('uip-select-input').value = jsonIconData.iconClass;
        navigator.clipboard.writeText(jsonIconData.iconClass);
        },
        onReset: function () {
          document.getElementById('output-icon').innerHTML = '';
        }
    }
    document.addEventListener('DOMContentLoaded', function (event) {
        let _uip = new UniversalIconPicker('#uip-select-input', options);
    });
  </script>
  <script type="text/javascript">
    let iconSpans = document.getElementsByClassName("click-to-copy");
    for (let iconSpan of iconSpans) {
      iconSpan.addEventListener("click", function(){
        navigator.clipboard.writeText(this.title);
        alert("Copié dans le presse-papier : '" + this.title + "'")
      })
    }
  </script>
{% endblock extra_js %}
