{% extends "example_webfastoche/base.html" %}
{% load static webfastoche_tags %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/webfastoche-code.css' %}">
  <style>
    .example-textarea {
      background: var(--background-alt-grey);
      border: 1px solid var(--border-default-grey);
      color: var(--text-default-grey);
      padding: 1rem;
      margin: 2rem 0;
      font-family: monospace;
      font-size: 1rem;
    }
p code, li code {
  background: var(--background-alt-grey);
  padding: 0.2em;
}
  </style>
{% endblock extra_css %}

{% block content %}
  <div class="webfastoche-grid-row webfastoche-grid-row--gutters webfastoche-b__two-col">
    <div class="webfastoche-col-12 webfastoche-col-md-4">
      {% webfastoche_sidemenu side_menu extra_classes="" %}
    </div>
    <div class="webfastoche-col-12 webfastoche-col-md-8 webfastoche-py-2w">
      <h1>
        {{ title }}
      </h1>
      <ul>
        {% if doc_url %}
          <li>
            {% webfastoche_link url=doc_url label="Voir la page de documentation du composant sur le Système de Design de l’État" is_external=True extra_classes="webfastoche-link--lg" %}
          </li>
        {% endif %}
        {% if example_url %}
          <li>
            {% webfastoche_link url=example_url label="Voir la page d’exemple du Système de Design de l’État" is_external=True extra_classes="webfastoche-link--lg" %}
          </li>
        {% endif %}
      </ul>
      <h2>
        Documentation du tag
      </h2>
      {{ tag_comment|safe }}
      {% if sample_data %}
        <h2>
          Exemples
        </h2>
        {% for sample_data_item in sample_data %}
          <h3 class="webfastoche-mt-3w">
            Données
          </h3>
          <div class="webfastoche-my-2w">
            {# djlint:off #}
            {% with sample_data_item|pprint as raw_sample_code %}
              {# djlint:off #}
              {% with '<pre class="webfastoche-code">'|concatenate:raw_sample_code|concatenate:"</pre>" as sample_data_code %}
                {% webfastoche_accordion title="Données d’exemple" content=sample_data_code %}
              {% endwith %}
            {% endwith %}
            {# djlint:on #}
          </div>
          <h3>
            Résultat
          </h3>
          {% if tag_name == "accordion" %}
            {% webfastoche_accordion sample_data_item %}
          {% elif tag_name == "accordion_group" %}
            {% webfastoche_accordion_group sample_data_item %}
          {% elif tag_name == "alert" %}
            {% webfastoche_alert sample_data_item %}
          {% elif tag_name == "badge" %}
            {% webfastoche_badge sample_data_item %}
          {% elif tag_name == "badge_group" %}
            {% webfastoche_badge_group sample_data_item %}
          {% elif tag_name == "button" %}
            {% webfastoche_button sample_data_item %}
          {% elif tag_name == "button_group" %}
            {% webfastoche_button_group sample_data_item %}
          {% elif tag_name == "callout" %}
            {% webfastoche_callout sample_data_item %}
          {% elif tag_name == "card" %}
            {% if not "horizontal" in sample_data_item.extra_classes %}
              <div class="webfastoche-grid-row webfastoche-grid-row--gutters">
                <div class="webfastoche-col-12 webfastoche-col-md-4">
                  {% webfastoche_card sample_data_item %}
                </div>
              </div>
            {% else %}
              <div class="webfastoche-grid-row webfastoche-grid-row--gutters">
                {% webfastoche_card sample_data_item %}
              </div>
            {% endif %}
          {% elif tag_name == "consent" %}
            <p>
              Voir en bas de votre écran.
            </p>
            {% webfastoche_consent sample_data_item %}
          {% elif tag_name == "content" %}
            {% webfastoche_content sample_data_item %}
          {% elif tag_name == "django_messages" %}
            {% webfastoche_django_messages sample_data_item %}
          {% elif tag_name == "france_connect" %}
            {% webfastoche_france_connect sample_data_item %}
          {% elif tag_name == "highlight" %}
            {% webfastoche_highlight sample_data_item %}
          {% elif tag_name == "input" %}
            {% webfastoche_input sample_data_item %}
          {% elif tag_name == "link" %}
            {% webfastoche_link sample_data_item %}
          {% elif tag_name == "notice" %}
            {% webfastoche_notice sample_data_item %}
          {% elif tag_name == "quote" %}
            {% webfastoche_quote sample_data_item %}
          {% elif tag_name == "select" %}
            {% webfastoche_select sample_data_item %}
          {% elif tag_name == "sidemenu" %}
            {% webfastoche_sidemenu sample_data_item %}
          {% elif tag_name == "skiplinks" %}
            {% webfastoche_skiplinks sample_data_item %}
          {% elif tag_name == "stepper" %}
            {% webfastoche_stepper sample_data_item %}
          {% elif tag_name == "summary" %}
            {% webfastoche_summary sample_data_item %}
          {% elif tag_name == "table" %}
            {% webfastoche_table sample_data_item %}
          {% elif tag_name == "tag" %}
            {% webfastoche_tag sample_data_item %}
          {% elif tag_name == "tile" %}
            <div class="webfastoche-grid-row webfastoche-grid-row--gutters">
              <div class="webfastoche-col-12">
                {% webfastoche_tile sample_data_item %}
              </div>
            </div>
          {% elif tag_name == "toggle" %}
            {% webfastoche_toggle sample_data_item %}
          {% elif tag_name == "tooltip" %}
            {% webfastoche_tooltip sample_data_item %}
          {% elif tag_name == "transcription" %}
            {% webfastoche_transcription sample_data_item %}
          {% endif %}
        {% endfor %}
      {% else %}
        <h2>
          Résultat
        </h2>
        {% if tag_name == "breadcrumb" %}
          {% webfastoche_breadcrumb %}
        {% elif tag_name == "css" %}
          <label for="example-textarea">
            Code source :
          </label>
          <textarea id="example-textarea"
                    readonly
                    rows="8"
                    cols="90"
                    class="example-textarea">{% webfastoche_css %}</textarea>
          <br />
        {% elif tag_name == "favicon" %}
          <label for="example-textarea">
            Code source :
          </label>
          <textarea id="example-textarea"
                    readonly
                    rows="14"
                    cols="90"
                    class="example-textarea">{% webfastoche_favicon %}</textarea>
          <br />
        {% elif tag_name == "js" %}
          <label for="example-textarea">
            Code source :
          </label>
          <textarea id="example-textarea"
                    readonly
                    rows="6"
                    cols="90"
                    class="example-textarea">{% webfastoche_js %}</textarea>
          <br />
        {% elif tag_name == "pagination" %}
          {% webfastoche_pagination page_obj %}
        {% elif tag_name == "theme_modale" %}
          <label for="example-textarea">
            Code source :
          </label>
          <textarea id="example-textarea"
                    readonly
                    rows="62"
                    cols="120"
                    class="example-textarea">{% webfastoche_theme_modale %}</textarea>
          <br />
        {% endif %}
      {% endif %}
    </div>
  </div>
  <br />
{% endblock content %}
