{% extends "example_dsfacile/base.html" %}
{% load static dsfacile_tags %}
{% block content %}
  <h1>
    {{ title }}
  </h1>
  <div class="dsfacile-grid-row dsfacile-grid-row--gutters dsfacile-mb-3w">
    <div class="dsfacile-col-12 dsfacile-col-md-4">
      {% if summary_data %}
        {% dsfacile_summary summary_data %}
      {% endif %}
    </div>
  </div>
  {{ documentation|safe }}
{% endblock content %}
{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/dsfacile-code.css' %}">
{% endblock extra_css %}

{% block follow_newsletter_social_media %}
  {% include "dsfacile/follow.html" %}
{% endblock follow_newsletter_social_media %}
