{% extends "example_dsfacile/base.html" %}
{% load static dsfacile_tags %}
{% block content %}
  <h1>
    Exemple de formulaire
  </h1>
  <form action="{% url 'page_form' %}" method="post">
    {% csrf_token %}
    {% dsfacile_form %}
    <div class="dsfacile-input-group dsfacile-my-4w">
      <button type="submit" class="dsfacile-btn" title="Valider">
        Valider ce formulaire
      </button>
      <button type="" class="dsfacile-btn dsfacile-btn--secondary" title="Annuler">
        Annuler
      </button>
    </div>
  </form>
{% endblock content %}
